{% extends "layout.njk" %}

{% block content %}

  {% include "modules/hero.njk" ignore missing %}
  {% include "modules/intro.njk" ignore missing %}
  {% include "modules/environment.njk" ignore missing %}
  {% include "modules/legend.njk" ignore missing %}
  {% include "modules/services.njk" ignore missing %}
  {% include "modules/commodity.njk" ignore missing %}
  {% include "modules/project.njk" ignore missing %}
  {% include "modules/condos.njk" ignore missing %}
  {% include "modules/photos-gallery.njk" ignore missing %}
  {% include "modules/newsletter.njk" ignore missing %}
  {% include "modules/footer.njk" ignore missing %}
 {#  {% include "modules/synopsis-2.njk" ignore missing %}
  {% include "modules/episodes.njk" ignore missing %}
  {% include "modules/credits.njk" ignore missing %}
  {% include "modules/footer.njk" ignore missing %} #}
{#   {% include "modules/outro-mobile.njk" ignore missing %}
  {% include "modules/outro.njk" ignore missing %}
  {% include "modules/trailer-player.njk" ignore missing %} #}

{% endblock %}
